<div class="sticky top-0 z-11 navbar bg-primary text-primary-content shadow-sm">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
        <a class="btn btn-ghost text-xl">
          <div class="avatar avatar-placeholder">
            <div class="w-16 rounded-full">
              <img src="/images/logo-1.png" alt="" srcset="" />
            </div>
          </div>
        </a>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
      >
        <li><a href="/">Home</a></li>
        <li><a href="/tips">Sustainable Tips</a></li>
        <li><a href="/challenges">Eco Challenges</a></li>
        <li><a href="/calculator">Eco Calculator</a></li>
        <li><a href="/blogs">Blog</a></li>
        <li><a href="/community">Community</a></li>
        <li><a href="/aboutus">About Us</a></li>
        <% if(locals.user){%>
        <li><a href="/user">User Panel</a></li>
        <%}%>
      </ul>
      <a class="btn btn-ghost btn-primary text-xl hidden lg:flex">
        <div class="avatar avatar-placeholder">
          <div class="w-16 rounded-full">
            <img src="/images/logo-1.png" alt="" srcset="" />
          </div>
        </div>
        Sustainable Living Guide</a
      >
    </div>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/">Home</a></li>
      <li><a href="/tips">Sustainable Tips</a></li>
      <li><a href="/challenges">Eco Challenges</a></li>
      <li><a href="/calculator">Eco Calculator</a></li>
      <li><a href="/blogs">Blog</a></li>
      <li><a href="/community">Community</a></li>
      <li><a href="/aboutus">About Us</a></li>
      <% if(locals.user){%>
      <li><a href="/user">User Panel</a></li>
      <%}%>
    </ul>
  </div>
  <div class="navbar-end">
    <% if(locals.user){%>
    <a href="/user/logout" class="btn btn-outline btn-ghost btn-primary">
      Logout
    </a>
    <%}else{%>
    <a href="/login" class="btn btn-outline btn-ghost btn-primary">
      Login / Register
    </a>
    <%}%>
  </div>
</div>
