<ul
  class="sticky top-14 z-1 menu bg-accent menu-horizontal rounded w-full justify-center"
>
  <li>
    <a href="/user"><%= __('nav.profile') %></a>
  </li>
  <li>
    <a href="/user/bookmarkedTip"><%= __('nav.bookmarkedTips') %></a>
  </li>
  <li>
    <a href="/user/joinedChallenge"><%= __('nav.joinedChallenges') %></a>
  </li>
  <li>
    <a href="/user/myCommunity"><%= __('nav.myCommunity') %></a>
  </li>
</ul>
