<ul class="menu bg-accent menu-horizontal rounded w-full justify-center">
  <li>
    <a href="/user">Profile</a>
  </li>
  <li>
    <a href="/user/bookmarkedTip">Bookmarked Tip</a>
  </li>
  <li>
    <a href="/user/joinedChallenge">Joined Challenge</a>
  </li>
  <li>
    <a href="/user/mycommuity">My Community</a>
  </li>
</ul>
